body{
    background-image: url(../BarraMenu/1.jpg);
    background-size: cover;
    background-position-y: -150px;
}

*{
    margin: 0;
    padding: 0;
}

a:hover{
    color: #fff;
    text-decoration: none ;
}

.logo{
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background: #23232e;
    height: 8vh;
}

main{
    background: url("../Menu/1.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.nav-list{
    list-style: none;
    display: flex;

}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    font-size: 20px;

}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 999px){
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        align-items: center;
        
    }
}

.texto{
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.397);
    position: absolute;
    top: 50%;
    left: 8%;
    right: 70%;
    color: white;
    padding: 10px;
    border-radius: 10px;

}

.texto2{
    background-color: rgba(255, 217, 0, 0.700);
    color: white;
    position: absolute;
    left: 45%;
    top: 20%;
    padding: 10px;
    border-radius: 10px;

}

.parc{
    background-color: rgba(255, 217, 0, 0.700);
    position: absolute;
    color: white;
    left: 45%;
    top: 40%;
    padding: 10px;
    border-radius: 10px; 
   
}

a:hover{
    color: rgb(10, 255, 1);
}



    



   

   





